<%= tag.div data: { controller: "encryption-ports" } do %>
  <h2 class="txt-medium margin-block-start"><%= imap_title %></h2>
  <div class="form-row">
    <div class="form-group">
      <label>Serveur IMAP</label>
      <%= f.text_field :imap_server, class: "input", placeholder: server_placeholder %>
    </div>
    <div class="form-group">
      <label>Chiffrement</label>
      <%= f.select :imap_encryption,
        options_for_select([["SSL/TLS", "ssl"], ["STARTTLS", "starttls"], ["Aucun", "none"]], f.object.imap_encryption || "ssl"),
        {},
        class: "input input--select",
        data: { encryption_ports_target: "imapEncryption", action: "encryption-ports#imapEncryptionChanged" } %>
    </div>
    <div class="form-group">
      <label>Port</label>
      <%= f.number_field :imap_port, class: "input", placeholder: "993",
        data: { encryption_ports_target: "imapPort" } %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group">
      <label>Identifiant</label>
      <%= f.text_field :imap_username, class: "input", placeholder: username_placeholder %>
    </div>
    <div class="form-group">
      <label>Mot de passe</label>
      <%= f.password_field :imap_password, class: "input", placeholder: "••••••••" %>
    </div>
  </div>

  <h2 class="txt-medium margin-block-start"><%= smtp_title %></h2>
  <div class="form-row">
    <div class="form-group">
      <label>Serveur SMTP</label>
      <%= f.text_field :smtp_server, class: "input", placeholder: server_placeholder %>
    </div>
    <div class="form-group">
      <label>Chiffrement</label>
      <%= f.select :smtp_encryption,
        options_for_select([["SSL/TLS", "ssl"], ["STARTTLS", "starttls"], ["Aucun", "none"]], f.object.smtp_encryption || "ssl"),
        {},
        class: "input input--select",
        data: { encryption_ports_target: "smtpEncryption", action: "encryption-ports#smtpEncryptionChanged" } %>
    </div>
    <div class="form-group">
      <label>Port</label>
      <%= f.number_field :smtp_port, class: "input", placeholder: "465",
        data: { encryption_ports_target: "smtpPort" } %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group">
      <label>Identifiant</label>
      <%= f.text_field :smtp_username, class: "input", placeholder: username_placeholder %>
    </div>
    <div class="form-group">
      <label>Mot de passe</label>
      <%= f.password_field :smtp_password, class: "input", placeholder: "••••••••" %>
    </div>
  </div>
<% end %>
