<h1>Configurer votre bateau</h1>
<p>Avant d'utiliser HutMail, enregistrez votre bateau et son compte relais.</p>

<%= form_with(model: @vessel, url: vessels_path) do |f| %>
  <% if @vessel.errors.any? %>
    <div class="card card--error">
      <div class="card__header txt-negative">Erreurs</div>
      <ul>
        <% @vessel.errors.full_messages.each do |msg| %>
          <li class="txt-small"><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card">
    <h2 class="card__header">Bateau</h2>
    <div class="form-row">
      <div class="form-group">
        <label>Nom du bateau</label>
        <%= f.text_field :name, class: "input", placeholder: "ex. Alibi", autofocus: true %>
      </div>
      <div class="form-group">
        <label>Adresse SailMail</label>
        <%= f.text_field :sailmail_address, class: "input", placeholder: "INDICATIF@sailmail.com" %>
      </div>
    </div>
  </div>

  <%= f.fields_for :relay_account do |ra| %>
    <%= render "shared/relay_account_fields", f: ra %>
  <% end %>

  <div class="form-actions">
    <%= f.submit "Créer le bateau", class: "btn btn--link" %>
  </div>
<% end %>
