<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>HutMail 🦫</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>
<body>
  <% if authenticated? %>
    <nav class="nav">
      <div class="nav__inner">
        <a href="<%= vessels_path %>" class="nav__logo">🦫 HutMail</a>
        <div class="nav__links">
          <a href="<%= vessels_path %>">Bateaux</a>
          <%= button_to "Déconnexion", session_path, method: :delete, class: "btn btn--plain" %>
        </div>
      </div>
    </nav>
  <% end %>

  <main class="main">
    <% if notice.present? %>
      <div class="flash">
        <div class="flash__inner"><%= notice %></div>
      </div>
    <% end %>

    <% if alert.present? %>
      <div class="flash flash--alert">
        <div class="flash__inner flash__inner--alert"><%= alert %></div>
      </div>
    <% end %>

    <%= content_for?(:breadcrumbs) ? yield(:breadcrumbs) : nil %>
    <%= yield %>
  </main>
</body>
</html>
